@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.listItems {
    background-color: deepskyblue;
    margin: 2px;
}

#item5 {
    color: deeppink;
    background-color: mediumseagreen;
}